.webcam{
	width: 100%;
    height: auto;
	max-height:100%;
	max-width:100%;
	border-radius: 25px;
	object-fit: fill;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);

}

#webcam_original{
	border: 2px solid #73AD21; 
}

#webcam_canvas{
	border: 2px solid pink; 
}

#webcam_freeze{
	border: 2px solid blue; 
	/*visibility: hidden;*/
}




.webcamframe{
	/*background-color: red;*/
    /*z-index: 2;*/
    position: absolute;
    right: 0;
    width:  20%;
    height: 20%;
}


#webcamframe_freeze{
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#webcamframe_original{
    top : 0;
}

#webcamframe_skeleton{
    bottom : 0;
}



#button_freeze{
	float: right;
	/*visibility: hidden;*/
}

.ytframebg{

}

#bgndVideo{

}

#ResumeEverything{
display: none;
}

#PauseEverything{

}


body {
	margin:0px;
	padding:0px;
	overflow:hidden;
}