.fllscrn{    

}

.webcamsource{
	
    width: 100%;
}

.webcam{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 15%;
    height: 15%;
	background-color: red;
}

.frame{
	z-index: -1;
}

body {
	margin:0px;
	padding:0px;
	overflow:hidden;
}

iframe{
	z-index: -1;
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:hidden;
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px

}