.buttonfreeze{
	visibility: hidden;
}

.webcamsource{
	width: 100%;
    height: auto;
	max-height:100%;
	max-width:100%;
	border-radius: 25px;
	border: 2px solid #73AD21; 
	object-fit: fill;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);

}

.webcamfreeze{
    height: auto;
	width: 100%;
	max-height:100%;
	max-width:100%; 
	border-radius: 25px;
	border: 2px solid #73AD21; 
	-webkit-transform: scaleX(-1);
 	transform: scaleX(-1);
	visibility: hidden;
}

.webcamframe{
    position: absolute;
    top: 0;
    right: 0;
    /*z-index: 2;*/
    width:  20%;
    height: 30%;
	/*background-color: red;*/
}


.ytframebg{

}

#bgndVideo{

}

#ResumeEverything{
display: none;
}

#PauseEverything{

}


body {
	
	margin:0px;
	padding:0px;
	overflow:hidden;
	
}